@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formSignup {
  width: 300px; /* Defina a largura do formulário como desejado */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.buttonSignup {
  margin-top: 10px; /* Adiciona algum espaçamento acima do botão */
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s; /* Adiciona uma transição suave de 0.3 segundos */
}

.buttonSignup:hover {
  background-color: #3d7e40; /* Altera a cor de fundo ao passar o mouse sobre o botão */
}

.inputSignup{
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.dropSignup{
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.h1Signup{
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
